//?font-family: "Ubuntu", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
//?font-family: "Roboto", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'QueenSides';
    src: url("./assets/fonts/Queensides.ttf") format('truetype');
}

@font-face {
    font-family: 'MontSerrat';
    src: url("./assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf") format("truetype");
}

* {
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0px;
}

p {
    font-family: "MontSerrat", sans-serif;
}

h3{
    font-family: 'Queensides';
}

#menuTrigger {
    color: white;
    mix-blend-mode: difference;
}

@for $i from 1 through 5 {
    .fadeIn-#{$i} {
        animation-name: fadeIn;
        animation-timing-function: ease-in;
        animation-duration: #{$i*300}ms;
    }
}

.menu__link {
    width: fit-content;
}

.menu__link hr {
    transform: translateX(-200%);
    transition: all .3s ease-in-out;
}

.menu__link:hover hr {
    transform: translateX(0);
}

.slideIn {
    animation-name: slideIn;
    animation-timing-function: linear;
    animation-duration: 300ms;
    animation-delay: 100ms;
}

@for $i from 0 to 2 {
    .slide-#{$i} {
        transform: translateX(calc(-100% * #{$i}));
    }
}

.slide-down {
    animation: slideDown 1s infinite alternate;
}

#accueil__ambiance {
    overflow: hidden;
}

#presentation {
    background: url('./assets/techBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#formation,
#presentation {
    box-shadow: 0 0 2rem #000 inset;
}

.glass2 {
    background: #121212;
    backdrop-filter: blur(10px);
}

.glass3 {
    color: white;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, .3),
            rgba(0, 0, 0, 0.2));
}

.slideIn-left{
    animation-name: slideInLeft;
    animation-timing-function: linear;
    animation-duration: 700ms;
}

.slideOut-left{
    animation-name: slideOutLeft;
    animation-timing-function: linear;
    animation-duration: 700ms;
}

#accueil_carroussel__slider{
    transition: all .1s ease;
}

#accueil_carroussel__slider img{
    object-fit: fill;
    transform: translateX(calc(-100% * var(--index)));
    transition: all .3s ease;
    padding: .2rem;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-10%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInDiagonal {
    0% {
        transform: translate(100%, 50%);
    }

    100% {
        transform: translateX(0);
    }
}

@for $i from 1 through 5 {
    .appear-down-#{$i} {
        animation: appearDown #{$i}s;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-2rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-20%);
    }
}

@keyframes appearDown {
    0% {
        transform: translateY(500%);
    }

    90% {
        transform: translateY(500%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes appearLeft {
    0% {
        opacity: 0;
        transform: translateX(150%);
    }

    60% {
        opacity: 0;
        transform: translateX(150%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.loader {
    width: 12%;
    height: auto;
    aspect-ratio: 1/1;
}

.loader .outer-spin,
.loader .inner-spin {
    border: 2px solid transparent;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.loader .inner-spin {
    width: 50%;
    border-color: skyblue;
}

.loader .outer-spin {
    width: 100%;
    border-color: white;
    animation: frontSpinning 1s infinite linear;
}

@keyframes frontSpinning {
    from {
        rotate: 0turn;
    }

    to {
        rotate: 1turn;
    }
}

@keyframes backSpinning {

    from {
        rotate: 0turn;
    }

    to {
        rotate: -1turn;
    }
}

h1 span,
h2 span {
    animation-timing-function: ease-in;
}

h1 span {
    animation-duration: 1s;
    animation-name: titleSlideLeft;
}

h2 span {
    animation-duration: 1.5s;
    animation-name: titleSlideRight;
}

.task-list li::before {
    content: "\2192";
    margin-right: .5rem;
    font-size: 1.5rem;
}

#projets {
    
}

@keyframes titleSlideLeft {
    from {
        opacity: 0;
        transform: translateX(150%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes titleSlideRight {
    from {
        opacity: 0;
        transform: translateX(-150%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}